body{
  font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
  background-color: #faf6f6;
  color:#365164;
}

.page{
  display: flex;
  min-height: 200vh;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  margin:0 auto;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.navbar{
  display: flex;
  flex-direction: row nowrap;
  width:100%;
  padding: 0.3rem 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #eff7fb;
  position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar-start{
  opacity: 1;
	transform: translateY(0);
	padding: 1rem 2rem;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar-start.scrolled{
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar-start.scroll-on .navbar-brand img{
	height:60px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar-brand{
	padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin:0;
}

.navbar-brand a, .footer-brand{
  text-decoration: none;
  font-weight: 600;
  color:#3277a4;
  font-family: "DynaPuff";
}

.navbar-brand img{
	height: 50px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.nav-list-container{
  width:auto;
}

.nav-list{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width:100%;
  margin:0;
}



.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}


.nav-link{
	color: #3277a4 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #053451 !important;
}
.nav-item.active .nav-link{
	color: #c4def0 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #1069a3;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}


.site-footer{
	background-color: #eff7fb;
	color: #3277a4;
}

footer img{
	width: 20px;
	height:20px;
	filter: invert(36%) sepia(38%) saturate(723%) hue-rotate(160deg) brightness(106%) contrast(95%);
}


.blue-bottom-border{
	border-bottom: 1px solid #a9d0eb;
}